body {
    /* background-image: url('../images/background.jpg'); */
    background-image: url('../images/background.gif');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    min-width: 100%;
    min-height: 100vh;
}

#card1 {
    display: none;
}

#search-container {
    min-height: 10vh;
}

.jumbotron {
    padding: 20px;
    display: none;
}

.tall {
    max-width: 500px;

    border-radius: 3%;
}
.title {
    font-size: 1.2rem;
}

/* .single {
    max-width: 50%;
    text-align: center;
} */

/* #gif_display {
    max-width: 50%;
} */

@media screen and (min-width: 400px) {
    .tall {
        max-width: 300px;
    }
}
